/*@import url('https://fonts.googleapis.com/css?family=Margarine');*/

/*colors: #FF3B3F, #CAEBF2, #A9A9A9, #EFEFEF*/
/*font-family: "Raleway", sans-serif;*/
/*font-family: "Playfair Display", serif;*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    color: #fff;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: 0 auto;
}

h1, h2, h3, h4, h5{
    line-height: 1.45;
    color: #000;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

#content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-areas:
            "header header header nav"
            "main main main main"
            "main main main main"
            "article article article article"
            "article article article article"
            "article article article article"
            "gallery gallery gallery gallery"
            "gallery gallery gallery gallery"
            "footer footer footer footer"
}

#content header, #content nav, #content footer{
    padding: 5px;
}

#content article, #content .gallery{
    padding: 10% 0;
}

/*HEADER, NAV*/

header{

    grid-area: header;
}
header > .logo{
    font-size: 24px;
    color: black;
    margin: 6% auto;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
}
.logo a{
    text-decoration: none;
}
.logo a:visited{
    color: black;
}
nav{
    grid-area: nav;
}
nav > ul{
    margin-left: 29%;
    list-style-type: none;
    padding: 0;
}
nav li{
    display: inline;
    float: left;
}
nav li a{
    text-transform: uppercase;
    display: block; /*Displaying the links as block elements makes the whole link area clickable*/
    text-decoration: none;
    text-align: center;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}
li a:hover{
    border-bottom: 3px solid #fca404;
}
li #menu{
    display: none;
}
/*MAIN*/
main {
    grid-area: main;
    grid-row: 2/7;
    padding: 0;
}
.main-nested{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 5px;
    height: 88.5%;
    grid-template-areas:
            "main-image"
            "main-content";

}
.main-nested div{
    border: 1px solid #fff;
}
.main-nested > .main-image{
    grid-area: main-image;
    width: 100%;
    height: auto;
    background: url("../img/imgonline-com-ua-Resize-dOCxhSdtt7ZO.png") no-repeat center;

}
.main-nested > .main-content{
    grid-area: main-content;
}

/*ARTICLE*/
article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-areas:
            "article-content article-phot";
    grid-area: article;
    grid-row:7/13;
    background-color: #f8f9fa;
}
article .article-content{
    margin: 0 11%;
    grid-area: article-content;
    text-align: left;

}
.site-sub-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #d4d4d4;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}
.site-primary-title{
    font-size: 37px;
    letter-spacing: .1em;
    line-height: 0.5;
}
.article-content p, .gallery-content p, .menu-content p, .menu-catalog p{
    color: #cfcfd0;
    font-size: 16px;
    line-height: 1.5;
}
.gallery-content p{
    font-size: 18px;
}
article .article-photo{
    margin: 0 11%;
    padding: 0 15px;
    grid-area: article-phot;

}
.article-photo img{
    width: 100%;
}

/*GALLERY*/
.gallery{

    grid-area: gallery;
    grid-row: 13/18;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-areas:
            "gallery-content gallery-content gallery-content"
            "gallery-photos gallery-photos gallery-photos"
            "gallery-photos gallery-photos gallery-photos";

}
.gallery-content{
    margin: 0 11%;
    grid-area: gallery-content;
}
.gallery-photo{
    margin: 0 11%;
    grid-area: gallery-photos;
}
/*MENU*/
.menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    grid-template-areas:
        "menu-content menu-content"
        "menu-catalog menu-catalog";
}
.menu-content{
    margin: 0 11%;
    grid-area: menu-content;
}
#menu-nav li{
    margin: 0 2%;
}
#menu-nav a{
    color: #d4d4d4;
    border: 2px solid #d4d4d4;
}
#menu-nav a:hover{
    color: black;
    border: 2px solid black;
}
.menu-catalog{

    grid-column: span 2;
    width: 60%;
    grid-area: menu-catalog;
    margin: 3% auto;
}
.menu-element{
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 150px minmax(250px, auto);
    grid-template-rows: minmax(150px, auto) minmax(50px, auto);
    height: 100%;
    grid-template-areas:
        "food-image food-description"
        "food-price food-toCart";
}
.menu-element .food-image{
    grid-area: food-image;
    padding-top: 7%;
}
.food-image img{
    border-radius: 50%;
    overflow: hidden;
}
.menu-element .food-description{
    grid-area: food-description;

}
.menu-element .food-name{
    font-size: 20px;
    line-height: 1.45;
    color: #000;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-align: left;
}
.menu-element .food-info{
    text-align: left;
}
.menu-element .food-price{
    grid-area: food-price;
    font-size: 20px;
    color: #fda403;
    font-weight: bold;
}
.menu-element .food-toCart{
    text-align: right;
    grid-area: food-toCart;
    color: black;
}
.food-toCart button{
    width: 30%;
    height: 70%;
    background-color: #fda403;
    border: none;
    text-align: center;
}
/*FOOTER*/
footer{
    grid-area: footer;
    grid-row: 18/19;
    background-color: #222222;
}
#menu-footer{
    grid-area: footer;
    background-color: #222222;
}

@media screen and (min-width: 768px){
    #content{
        grid-template-areas:
                "header nav nav nav"
                "main main main main"
                "main main main main"
                "article article article article"
                "article article article article"
                "article article article article"
                "gallery gallery gallery gallery"
                "gallery gallery gallery gallery"
                "footer footer footer footer";
    }
    .main-nested{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "main-image main-content";

    }
}

@media screen and (max-width: 767px){
    nav li a{
        display: none;
    }
    nav #menu{
        display: block;
        float: right;
        font-size: 25px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        margin-top: 50%;
        top:10%;
        left:0;
        position: relative;
    }
    .topnav.responsive li #menu{
        position: absolute;
        top: 0;
        right: 0;
    }
    .topnav.responsive li a{
        float: none;
        display: block;
        text-align: center;
    }
    /*nav li.responsive{*/
        /*background-color: red;*/
        /*position: relative;*/
        /*top: 50px;*/
        /*left: -200px;*/
    /*}*/


}